/* --------1200 px-------- */

@media (max-width: 1200px) {
  .brand {
    font-size: 50px;
  }
  .menu {
    font-size: 15px;
    gap: 10px;
  }
  #header {
    gap: 1px;
    height: 100px;
    width: 20%;
    position: relative;
  }
  #home {
    max-width: 450px;
  }
  #nosotros {
    width: 1000px;
    height: 500px;
  }
  .about h2 {
    font-size: 50px;
  }
  .info-clases h1 {
    font-size: 50px;
  }
  .info-clases p {
    font-size: 25px;
    width: 900px;
  }
}
/* -----------1024 px---------- */
@media (max-width: 1024px) {
  #home {
    max-width: 400px;
  }
  #home h1 {
    font-size: 60px;
    max-width: 100px;
  }
  .contact-us {
    max-width: 900px;
  }
  .contact-nav {
    /* background-color: brown; */
    max-width: 180px;
  }
}
/* ---------992 px-------- */
@media (max-width: 992px) {
  #nosotros {
    width: 900px;
    height: 400px;
  }
  #nosotros img {
    width: 60%;
    height: 400px;
  }
}
/* -----------768 px------- */
@media (max-width: 768px) {
  #home {
    max-width: 300px;
  }
  .home-info {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  #home h1 {
    font-size: 40px;

    min-width: 100px;
  }
  .video iframe {
    width: 400px;
    height: 300px;
  }
  #nosotros {
    width: 700px;
    height: 300px;
  }
  #nosotros img {
    width: 50%;
    height: 300px;
  }
  #nosotros h2 {
    font-size: 30px;
  }

  #clases p {
    font-size: 25px;
    justify-content: center;
    align-items: center;
    padding: 5px 150px;
  }
  .info-clases {
    /* background-color: brown; */
    width: 800px;
    height: 400px;
  }
}

.contact-us {
  max-width: 600px;
}
.mapa img {
  width: 250px;
  height: 300px;
}
.menu {
  display: block;
  padding-top: 50px;
}
/* --------576 px------ */
@media (max-width: 576px) {
  #home {
    max-width: 300px;
    padding-left: 90px;
    justify-content: space-around;
    gap: 120px;
  }
  .video iframe {
    width: 300px;
    height: 200px;
  }
  .home-info {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  #nosotros {
    width: 500px;
    height: 300px;
    justify-content: center;
  }
  #nosotros img {
    width: 50%;
    height: 300px;
  }
  #nosotros h2 {
    font-size: 30px;
  }
  .about p {
    font-size: 10px;
  }
  .info-clases h1 {
    font-size: 30px;
  }
  #clases p {
    font-size: 20px;
  }
  #clases {
    width: 120%;
  }
  .clases-container {
    width: 115%;
  }
  #contactanos {
    width: 80%;
  }
  #contactanos h3 {
    margin-left: 150px;
  }
  .footer-links {
    margin-left: 150px;
  }
  footer p {
    margin-left: 150px;
  }
}

/* ---- 480 px-------- */
@media (max-width: 480px) {
  #home {
    margin-left: 200px;
  }
  #nosotros {
    margin-left: 200px;
  }
  #clases {
    margin-left: 100px;
  }
  .clases-container {
    margin-left: 70px;
  }
  #contactanos {
    margin-left: 90px;
  }
  #contactanos h3 {
    margin-left: 220px;
  }
  .footer-links {
    margin-left: 300px;
  }
  footer p {
    margin-left: 300px;
  }
}
/* -----------320 px------ */
@media (max-width: 390px) {
  #home {
    margin-left: 400px;
  }
  #nosotros {
    margin-left: 450px;
  }
  #clases {
    margin-left: 50px;
  }
  .clases-container {
    margin-left: 150px;
  }
  #contactanos {
    margin-left: 90px;
  }
  #contactanos h3 {
    margin-left: 300px;
  }
  .footer-links {
    margin-left: 400px;
  }
  footer p {
    margin-left: 400px;
  }
}
