@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@600&family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@600&family=Poppins&family=Tilt+Prism&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --text-primary: #ffffff;
  --background: #000000;
  --text-secondary: #a1e533;
  --background-secondary: #a6a6a6;
  --text-title: "Bebas Neue", sans-serif;
  --text-body: "Poppins", sans-serif;
}
body {
  background-color: var(--background);
  /* -----------NAVBAR----------- */
}
header {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  background-color: #a1e533;
  gap: 1rem;
  height: 200px;
  position: fixed;
  width: 100%;
}
.img {
  padding: 10px 30px;
  height: 200px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.brand {
  font-family: var(--text-title);
  font-size: 100px;
  padding: 40px 0;
}
.menu {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding-top: 100px;
  gap: 1.5rem;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--text-body);
}
.menu a {
  color: var(--background);
}
